# ---- Python basics
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.tmp
*.cache
.ipynb_checkpoints/

# ---- Virtual env
.venv/
venv/
env/

# ---- Project outputs
out/
pred_out/
runs/
logs/

# ---- Models & big binaries (do not track)
*.pt
*.pth
*.onnx
*.bin
checkpoints/
models/

# ---- OS / editors
.DS_Store
Thumbs.db
.vscode/
.idea/

# ---- Misc
*.zip
*.tar
*.tar.gz
